*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

fieldset{
    overflow: hidden;
}


.loginForm{
    width: 100%;
}

form{
    width: 30%;
    background-color: #F9F9F9;
}

form label{
    display: block;

    font-weight: bold;
}
form input[type="password"]{
    border: none;
}

form input[type="text"],
form input[type="password"]{
    border: none;
    padding: 0.5rem ;
}
form input[type="password"]:focus{
    border: none;
}

.mypassword,
.myusername {
    border: 1.5px solid #000;
    background: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.myusername:hover,
.mypassword:hover,
.myusername:focus,
.mypassword:focus{
    border: 2px solid springgreen;
}

form input {
    width: 85%;
}
    
fieldset{
    display: block;
    padding: 2rem;
    overflow: hidden;
    border-radius: 0.3rem;
}

fieldset p{
    padding: 0.2rem;
}

fieldset button {
    width: 3rem;
}
div{
    padding-bottom: 0.3rem;
}

body {
    margin: 2rem;
}

.login{
    padding-top: 0.5rem;
}

