body {
    font-size: 20px;
}

p {
    padding-bottom: 2rem;
}

.fixed {
    background: aquamarine;
    padding: 2rem;
    border: 1px solid black;
    position: fixed;
    width: 1300px;
    margin: 0 auto;
    top: 0;
    opacity: 0.5;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
}

.container {
    padding-top: 100px;
}

.sticky {
    background-color: yellowgreen;
    color: white;
    padding: 2rem;
    position: sticky;
    top:0;
    opacity: 0.85;
}