*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Verdana, sans-serif;
}

body {
    padding: 2rem;
}

.site {
    max-width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-footer,
.site-header {
    background: #000;
    color: #fff;
    display: flex;
    position: relative;
    overflow:hidden;
    border-radius: 0.5em;
    margin-bottom: 2rem;
}

.site-header h1 {
    font-size: 3rem;
}

.site-header h1 a {
    padding: 0 1rem;
}

.site-header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.site-header nav {
    display: flex;
    margin-left: auto;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    display: flex;

}

.site-header nav a:hover {
    color: blue;
    background: rebeccapurple
}

.site-header nav a {
    display: flex;
    align-items: center;    
    padding: 0 1em;
}

.site-content {
    display: flex;
    flex-wrap: wrap;
}

.site-content main {
    flex: 1 1 25rem;
    padding: 1rem;
}

.site-content aside {
    flex: 1 1 10rem;
    padding: 1rem;
}

.site-footer{
    padding: 1rem;
    margin-top: auto;
    margin-top: 1rem;
}