body {
    height: 100vh;
}

.site{
    margin: 0 4rem;
    background: rgb(238, 238, 238);
    padding: 2rem 0;
    max-height: 80%;
}


header {
    border-bottom: 2px solid black;
    display: flex;
}

header h1 {
    padding: 0 2rem;
}

main{
    padding: 1rem 2rem;

}

footer {
    background:  rgb(102, 102, 102);
   color: rgb(255, 255, 255);
   padding: 0.3rem 2rem;
}